<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

    </head>
    <body>
        <h1>{{ question.question_text }}</h1>

        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        <form method="post" action="{% url 'polls:vote' question.id %}">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <label >
                    <input type="radio" name="choice" value="{{ choice.id }}"/>
                    {{ choice.choice_text }}
                </label> <br/>
            {% endfor %}

            <input type="submit" value="Vote">
        </form>
    </body>
</html>
